[submodule ".registry"]
	path = .registry
	url = https://github.com/aloftdata/aloftdata.r-universe.dev
	branch = HEAD
[submodule "bioRad"]
	path = bioRad
	url = https://github.com/adokter/bioRad/
[submodule "birdscanR"]
	path = birdscanR
	url = https://github.com/BirdScanCommunity/birdscanR/
[submodule "getRad"]
	path = getRad
	url = https://github.com/aloftdata/getRad
[submodule "vol2birdR"]
	path = vol2birdR
	url = https://github.com/adokter/vol2birdR/
